@import "mixsin"
@import "varble"
.featuresSection
  padding: 40px 60px
  display: flex
  justify-content: space-between

.titel
  margin-bottom: 20px


.discription
  margin-bottom: 40px
  color: $Dark-Grayish-Blue
  font-size: 14px
.faeturesList
    flex-basis: 75%

.feature-item
  display: flex
  gap: 30px
  margin-bottom: 30px
  span
    
           background-color: hsl(12, 88%, 59%)
           color: white
           border-radius: 16px
           padding: 9px 13px
           font-size: 12px
           height: fit-content

.feature-title 
  margin-bottom: 10px
  color: #333


.feature-description 
  color: $Dark-Grayish-Blue
  font-size: 14px

