@import "mixsin"
@import "varble"
.TeamWork
    padding: 40px 60px 
    display: flex
    justify-content: space-between
    background-color: $Bright-Red
    @include for-size(max-mobile)
       flex-direction: column
       justify-content: center
       text-align: center
       gap: 20px
    h1
        color: $Very-Light-Gray
    span
        background-color: hsl(12, 88%, 59%)
        color: white
        border-radius: 16px
        padding:10px
        font-size: 12px
        cursor: pointer
        &:hover
           background-color:  white
           color: $Bright-Red